<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320074066076-7k2qtaie6qmlb5ombemdth9la3nikscg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320074066076-7k2qtaie6qmlb5ombemdth9la3nikscg</string>
	<key>API_KEY</key>
	<string>AIzaSyDSNSce3broTxuiZ5HGdOLmOx5QP3YUjdA</string>
	<key>GCM_SENDER_ID</key>
	<string>320074066076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChallengerApp</string>
	<key>PROJECT_ID</key>
	<string>challengerapp-9ca54</string>
	<key>STORAGE_BUCKET</key>
	<string>challengerapp-9ca54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320074066076:ios:f3c497ce19b1516084e559</string>
</dict>
</plist>